<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="characters" routerLinkActive="active">Characters</a>
      <a mat-list-item routerLink="arena" routerLinkActive="active">Arena (Fights)</a>
      <a mat-list-item routerLink="countries" routerLinkActive="active">Countries</a>
      <a mat-list-item>Rank</a>
      <a mat-list-item routerLink="character" routerLinkActive="active" class="hidden">Character</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Street Fighter NG</span>
      <span class="spacer"></span>
      <span>
        <mat-icon class="arena-icon">sports_mma</mat-icon>
        @if (arena().length === 0) {
          No fighters in arena
        } @else if (arena().length === 1) {
          {{ arena()[0].name }} is alone in the arena
        } @else if (arena().length >= 2) {
          <a routerLink="arena" class="arena-link">
            {{ arena()[0].name }}
            <img alt="vs" class="vs" src="/vs.png" />
            {{ arena()[1].name }}
          </a>
        }
        <mat-icon class="arena-icon">sports_mma</mat-icon>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
